tecnologia/android-studio/
android-studio-ide-181.5056338-linux.zip
tecnologia/jdk-8u181-linux-x64.rpm
tecnologia/sdk-tools-linux-4333796.zip
latex-artigo/tcc.aux
latex-artigo/tcc.log
latex-artigo/tcc.synctex.gz