tecnologia/android-studio/
android-studio-ide-181.5056338-linux.zip
tecnologia/jdk-8u181-linux-x64.rpm
tecnologia/sdk-tools-linux-4333796.zip
latex-artigo/tcc.aux
latex-artigo/tcc.log
latex-artigo/tcc.brf
latex-artigo/tcc.lof
latex-artigo/tcc.lot
latex-artigo/tcc.toc
latex-artigo/tcc.synctex.gz
latex-artigo/editaveis/explicacao_do_jogo.log
latex-artigo/tcc.bbl
latex-artigo/tcc.blg
latex-artigo/editaveis/resumo.log